

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#999999;
	background-color:#151515;
	}

 html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
	  
.clear{clear:both;}
.col2{color:#FFFFFF; background-color:#185071;}
#topbar{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

#topnav{
	display:block;
	float:left;
	margin:0;
	padding:0;
	font-size:13px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

#topnav ul, #topnav li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	}

#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
	display:block;
	margin:0;
	padding:15px 20px;
	color:#FFFFFF;
	background-color:#185071;
	border-left:2px solid #185071;
	}

#topnav ul ul li a:link, #topnav ul ul li a:visited{
	border:none;
	}

#topnav li.last a{
	}

#topnav li a:hover, #topnav ul li.active a{
	color:#FFFFFF;
	background-color:#002A4F;
	border-left:2px solid #002A4F;
	}
	
#topnav ul li.activelast a{
	color:#FFFFFF;
	background-color:#002A4F;
	border-left:2px solid #002A4F;
	margin:0;
	}	
	
	
#topnav li li a:link, #topnav li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#FFFFFF;
	background-color:#185071;
	}
	
#topnav li li a:hover{
	color:#FFFFFF;
	background-color:#002A4F;
	}

#topnav li ul{
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:170px;
	border-left:2px solid #002A4F;
	border-bottom:2px solid #002A4F;
	}

#topnav li ul a{width:140px;}

#topnav li ul ul{margin:-32px 0 0 0;}

#topnav li:hover ul ul{left:-999em;}

#topnav li:hover ul, #topnav li li:hover ul{left:auto;}

#topnav li:hover{position:static;}

#topnav li.last{margin:0;}

form, fieldset, legend{margin:0; padding:5px; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia, "Times New Roman", Times, serif;}

